<html>
<head>
  <title>No inputs</title>
</head>
<body>
<h1>No inputs</h1>
  <p>There were no inputs to send to the database</p>
<p>Please retry on <a href="{{ url_for("index") }}">the home page</a>?</p>
</body>
</html>
