<h1>ACP Brevet Times</h1>
<h2>Output of open and close control times</h2>


<div class="row">
  <div class="col-md-12"> 
  <table class="control_time_table">
      <tr>
  <th> Open Date </th>
  <th> Open Time </th>
  <th> Distance </th>
	<th> Miles </th>
	<th> Km </th>
	<th>Open</th>
	<th>Close</th>
      </tr>
   {% for item in items %}
   
    <tr class="control">

      <td><input name="close" type="datetime" value= {{item.begin_date}} readonly size="10"/></td>
      <td><input name="close" type="datetime" value= {{item.begin_time}} readonly size="8"/></td>
      <td><input name="Distance" type="text" value= {{item.distance}} readonly
        min="0" max="1300" size="5" /></td>
      <!-- Dist (mi) -->
      <td><input name="miles" type="text" value= {{item.miles}} readonly
           min="0" max="900" size="5" /></td>
      <!-- Dist (km) -->
      <td><input name="km" type="text" value= {{item.km}} readonly
	   min="0" max="1100" size="5" /> </td>
      <!-- Open time (read only, set by JavaScript function -->
      <td><input name="open" type="datetime" value= {{item.open}} readonly /></td>
      <!-- Close time (read only, set by JavaScript function -->
      <td><input name="close" type="datetime" value= {{item.close}} readonly /></td>
    </tr>
    {% endfor %}
  </table>
  </div> <!-- col -->
  </div> <!-- row -->

  <p>Return to the calculator -> <a href="{{ url_for("index") }}">ACP Calculator</a></p>